In [362]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [363]:
train= pd.read_csv("Train.csv")
test= pd.read_csv("Test.csv")

In [364]:
train.dtypes

InvoiceNo        int64
StockCode        int64
Description      int64
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country          int64
dtype: object

In [365]:
train.shape

(284780, 8)

In [366]:
train.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35
5,17388,495,3247,5,2011-11-27 12:52:00,1.65,15351.0,35
6,18494,165,3377,1,2011-12-08 20:01:00,1.25,12748.0,35
7,17109,2597,3435,1,2011-11-23 12:40:00,1.25,16255.0,35
8,17143,1945,2352,1,2011-11-23 14:07:00,5.75,17841.0,35
9,8422,3311,2502,6,2011-06-22 10:11:00,2.95,13849.0,35

In [367]:
print(test.isnull().sum())
print(train.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
CustomerID     0
Country        0
dtype: int64
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [368]:
object_cols = [col for col in train.columns if train[col].dtype == "object"]
object_cols

['InvoiceDate']

In [369]:
try_train= train.select_dtypes(exclude="object")

In [370]:
print(try_train.corr())

             InvoiceNo  StockCode  Description  Quantity  UnitPrice  \
InvoiceNo     1.000000   0.086809     0.024804 -0.008363   0.007927
StockCode     0.086809   1.000000    -0.013230 -0.000942   0.020073
Description   0.024804  -0.013230     1.000000  0.000194  -0.000424
Quantity     -0.008363  -0.000942     0.000194  1.000000  -0.000924
UnitPrice     0.007927   0.020073    -0.000424 -0.000924   1.000000
CustomerID   -0.007463   0.002887    -0.005227 -0.002930  -0.004932
Country       0.005432   0.006242    -0.014791 -0.008001  -0.005378

             CustomerID   Country
InvoiceNo     -0.007463  0.005432
StockCode      0.002887  0.006242
Description   -0.005227 -0.014791
Quantity      -0.002930 -0.008001
UnitPrice     -0.004932 -0.005378
CustomerID     1.000000  0.388198
Country        0.388198  1.000000

In [371]:
train["Country"].nunique()

37

In [372]:
train["CustomerID"].nunique()

4339

In [373]:
train['StockCode'].nunique()

3619

In [374]:
train.nunique()

InvoiceNo      20971
StockCode       3619
Description     3819
Quantity         373
InvoiceDate    19451
UnitPrice        524
CustomerID      4339
Country           37
dtype: int64

In [375]:
train["InvoiceDate"]=pd.to_datetime(train.InvoiceDate)
test["InvoiceDate"]=pd.to_datetime(test.InvoiceDate)

In [376]:
train.dtypes

InvoiceNo               int64
StockCode               int64
Description             int64
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                 int64
dtype: object

In [377]:
hour=train.InvoiceDate.dt.hour
minute=train.InvoiceDate.dt.minute
year=train.InvoiceDate.dt.year
month=train.InvoiceDate.dt.month
date=train.InvoiceDate.dt.day

In [378]:
UnitPrice=train.UnitPrice

In [379]:
UnitPrice

0         3.75
1         1.95
2         5.95
3         0.83
4         1.65
          ...
284775    1.65
284776    0.65
284777    8.50
284778    3.45
284779    0.75
Name: UnitPrice, Length: 284780, dtype: float64

In [380]:
trail= pd.concat([hour,minute,year,month,date],axis=1)

In [381]:
trail.columns=['Hour', 'Minute',"Year","Month","Date"]

In [382]:
trail

        Hour  Minute  Year  Month  Date
0         16      54  2011      5     6
1          7      35  2011      5    11
2         13      20  2011     11    20
3         12       7  2011     11    22
4          9       0  2011      5     6
...      ...     ...   ...    ...   ...
284775    12       7  2011      3     1
284776    15       8  2011     10    13
284777    12      59  2011      5    16
284778    14      18  2011     10    11
284779    13      30  2011      8    22

[284780 rows x 5 columns]

In [383]:
TRY_Train=pd.concat([try_train,trail],axis=1)

In [384]:
TRY_Train

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Hour,Minute,Year,Month,Date
0,6141,1583,144,3,3.75,14056.0,35,16,54,2011,5,6
1,6349,1300,3682,6,1.95,13098.0,35,7,35,2011,5,11
2,16783,2178,1939,4,5.95,15044.0,35,13,20,2011,11,20
3,16971,2115,2983,1,0.83,15525.0,35,12,7,2011,11,22
4,6080,1210,2886,12,1.65,13952.0,35,9,0,2011,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...
284775,3408,1706,1081,6,1.65,17965.0,35,12,7,2011,3,1
284776,13982,2184,2947,16,0.65,16793.0,35,15,8,2011,10,13
284777,6641,667,3632,4,8.50,14755.0,35,12,59,2011,5,16
284778,13820,1576,3089,48,3.45,14866.0,35,14,18,2011,10,11
284779,11042,2603,1156,2,0.75,17585.0,35,13,30,2011,8,22

In [385]:
print(Train.corr())

           InvoiceNo  StockCode      Hour      Year
InvoiceNo   1.000000   0.086809  0.051381  0.422249
StockCode   0.086809   1.000000  0.004766  0.030964
Hour        0.051381   0.004766  1.000000 -0.020093
Year        0.422249   0.030964 -0.020093  1.000000

In [386]:
Train=TRY_Train.drop(columns=["Description","Quantity","CustomerID","Country","Minute","Month","Date","UnitPrice"])

In [387]:
Train

        InvoiceNo  StockCode  Hour  Year
0            6141       1583    16  2011
1            6349       1300     7  2011
2           16783       2178    13  2011
3           16971       2115    12  2011
4            6080       1210     9  2011
...           ...        ...   ...   ...
284775       3408       1706    12  2011
284776      13982       2184    15  2011
284777       6641        667    12  2011
284778      13820       1576    14  2011
284779      11042       2603    13  2011

[284780 rows x 4 columns]

In [388]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [389]:
X_train,X_test,y_train,y_test=train_test_split(Train,UnitPrice,test_size=0.040,random_state=8,shuffle=True)

In [390]:
X_test

        InvoiceNo  StockCode  Hour  Year
16219       13203         82    15  2011
265651       9302        392    12  2011
123618       8988        425    11  2011
74664        1552        284    12  2011
52127        2537       2812    15  2011
...           ...        ...   ...   ...
134250       4255       2712    15  2011
278173       5591       1356    13  2011
39881       13263       2115    16  2011
115328      18249       2658    14  2011
240776       2882       1111    15  2011

[11392 rows x 4 columns]

In [391]:
model=LinearRegression(normalize=True)
model.fit(X_train,y_train)
out=model.predict(X_test)

In [392]:
out.shape

(11392,)

In [393]:
val_mae = mean_absolute_error(y_test,out)
val_mae

2.812037084226601

In [394]:
test

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,CustomerID,Country
0,3139,1709,1079,3,2011-02-22 15:22:00,16161.0,35
1,617,510,3457,1,2010-12-08 12:46:00,17341.0,35
2,14653,604,694,36,2011-10-25 13:53:00,15158.0,35
3,8634,1478,3473,2,2011-06-27 12:38:00,16033.0,35
4,15546,3216,871,1,2011-11-06 16:14:00,15351.0,35
...,...,...,...,...,...,...,...
122044,7813,2487,1289,12,2011-06-09 09:44:00,15214.0,35
122045,8694,3069,217,16,2011-06-28 15:47:00,16200.0,35
122046,915,1419,3474,6,2010-12-13 12:26:00,15555.0,35
122047,8156,1631,1434,1,2011-06-16 12:45:00,15907.0,35
122048,12020,2088,706,3,2011-09-12 13:50:00,16360.0,35

In [395]:
test_hour=test.InvoiceDate.dt.hour
test_year=test.InvoiceDate.dt.year
test_year

0         2011
1         2010
2         2011
3         2011
4         2011
          ...
122044    2011
122045    2011
122046    2010
122047    2011
122048    2011
Name: InvoiceDate, Length: 122049, dtype: int64

In [396]:
TRY_Test=test.drop(columns =["Description","Quantity","InvoiceDate","CustomerID","Country"])

In [397]:
Test=pd.concat([TRY_Test,test_hour,test_year ],axis=1)

In [398]:
Test

        InvoiceNo  StockCode  InvoiceDate  InvoiceDate
0            3139       1709           15         2011
1             617        510           12         2010
2           14653        604           13         2011
3            8634       1478           12         2011
4           15546       3216           16         2011
...           ...        ...          ...          ...
122044       7813       2487            9         2011
122045       8694       3069           15         2011
122046        915       1419           12         2010
122047       8156       1631           12         2011
122048      12020       2088           13         2011

[122049 rows x 4 columns]

In [399]:
Test.columns=["InvoiceNo","StockCode","Hour","Year"]

In [400]:
Test.head()

   InvoiceNo  StockCode  Hour  Year
0       3139       1709    15  2011
1        617        510    12  2010
2      14653        604    13  2011
3       8634       1478    12  2011
4      15546       3216    16  2011

In [401]:
final=model.predict(Test)

In [402]:
final.shape

(122049,)

In [404]:
submit=pd.DataFrame({'UnitPrice':final})
submit.to_csv('submit1.1.csv', index = False)
from IPython.display import FileLink
FileLink(r'submit1.1.csv')

C:\Users\Nandhu\Music\submit1.1.csv